body{
    background-color:#e3e3e3;
    color:black;
}

#add-gif{
    margin-top:10px;
}

.cars{
    margin:5px;
}

.giphy{
    margin:5px;
    width:150px;
    height:auto;
    
}


.rating{
    margin:5px;
    width:150px;
    height:200px;
    text-align:center;
    float:left;

}

